<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
	<title>World Mission Society Church of God | Los Angeles</title>

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic,100italic,100' rel='stylesheet' type='text/css'>
	
	<!-- css -->
    <link href="/skin/core/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css">
	
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- <link rel="stylesheet" type="text/css" href="/skin/core/css/normalize.css"> -->
	<link rel="stylesheet" type="text/css" href="/skin/core/css/fancy.min.css">
	
	<link href="/skin/core/css/wms.skin.css" rel="stylesheet">
	<link href="/skin/local/wms/css/styles.css" rel="stylesheet">


	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="/skin/core/js/01-jquery-ui.min.js"></script>
	<script src="/skin/core/js/07-jquery.form.js"></script>
	<script src="/skin/local/wms/js/jquery.addons.js"></script>


</head>