<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/skin/core/js/01-jquery-ui.min.js"></script>
<script src="/skin/core/js/07-jquery.form.js"></script>

<script src="/skin/local/wms/js/jquery.addons.js"></script>


<!-- Full Calendar JS -->
<script src='/skin/core/fullcalendar-2.2.6/lib/moment.min.js'></script>

<!-- Mobile Touch -->
<script src="/skin/core/js/02-touch.punch.min.js"></script>

<!-- wms -->
<script src="/skin/local/wms/js/wms.js"></script>
<script src="/skin/local/wms/js/core.js"></script>

<!-- MomentJS -->
<script src="/skin/core/js/sha1.js"></script>
