<?xml version="1.0" encoding="utf-8"?>
<config>
	<url>
		<live><![CDATA[http://wmscogla.org]]></live>
		<local><![CDATA[http://wmscogla.dev]]></local>
	</url>
	<core>
		<timezone><![CDATA[America/Los_Angeles]]></timezone>
	</core>
	<dblive>
		<host>localhost</host>
		<name>elohim_db</name>
		<user>144kAdmin</user>
		<pass>hesaidit1984</pass>
	</dblive>
	<dblocal>
		<host>localhost</host>
		<name>elohim_db</name>
		<user>root</user>
		<pass></pass>
	</dblocal>
	<route>
		<wms>
			<modules><![CDATA[app/modules/wms/]]></modules>
			<controllers><![CDATA[app/modules/wms/controllers/]]></controllers>
			<models><![CDATA[app/modules/wms/models/]]></models>
			<views><![CDATA[app/modules/wms/views/]]></views>
			<js><![CDATA[app/modules/wms/js/]]></js>
			<api>
				<module><![CDATA[app/module/wms/api/]]></module>
				<controllers><![CDATA[app/modules/wms/api/controllers/]]></controllers>
				<models><![CDATA[app/modules/wms/api/models/]]></models>
			</api>
		</wms>
	</route>
</config>